# Виртуальное окружение
venv/
env/

# Файлы настроек и секреты
.env

# База данных SQLite
db.sqlite3

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Папки IDE
.vscode/
.idea/

# Статические и медиа файлы (если не хранятся в репозитории)
staticfiles/
media/
